<!-- TODO: REFACTOR THE LOGICS OUT OF THE VIEW! -->
<% @question.responses.each do |response| %>
  <p>------------</p>
  <p><%= response.content %> | <%= User.find(response.user_id).username %></p>

<% end %>
